<article>
    <h4>{{ card.pergunta }}</h4>
    {% if not check_card %}
        <p>{{ card.resposta }}</p>
        <hr>
        <a href="{% url 'card-update' card.id %}" role="button">
            ✏️ Editar Cartão
        </a>
    {% else %}
        <details>
            <summary>Revelar resposta</summary>
            <p>{{ card.resposta }}</p>
        </details>
        <hr>
        {% include "cards/card_check_form.html" with solved=True %}
        {% include "cards/card_check_form.html" with solved=False %}
    {% endif %}
 </article>